/* Base styles */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'ngx-toastr/toastr';
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .brand-name {
    margin: 20px;
    padding: 10px;
  }
  
  .brand-logo {
    height: 40px;
    width: 60px;
    }
  
  .content {
    margin: 20px;
    padding: 10px;
    width: 100%;
  }
  
  /* Desktop styles */
  @media (min-width: 768px) {
    .brand-name {
      margin: 40px;
      padding: 20px;
    }
  
    .content {
      margin: 40px;
      padding: 20px;
      width: 80%; /* Adjust width for desktop */
    }
  }
    
.active{
  color: #3b82f6; /* Change this color to your desired active link color */
  font-weight: bold; /* Optionally, make the active link text bold */
}