@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

  .product-list {
    width: 100%;
    height: 500px; /* Adjust as needed */
    overflow: auto;
  }
  
  .product-card {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
  
  .product-image {
    width: 100px; /* Adjust as needed */
    height: auto;
    margin-right: 20px;
  }
  
  .product-details {
    flex-grow: 1;
  }
  
  .title-and-date {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .product-title {
    margin: 0;
    font-size: 1.2em;
  }
  
  .release-date {
    margin: 0;
    font-size: 0.9em;
    color: #666;
  }
  
  .product-code, .product-sales {
    margin: 5px 0;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    z-index: 1000; /* Ensure it's above everything */
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 1001;
  }
  
  .create-product-button {
    width: 100%; /* Full width */
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    border: none;
    padding: 15px 20px; /* Increased padding */
    border-radius: 5px;
    font-size: 18px; /* Larger font size */
    font-weight: 600; /* Bolder font */
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
  }
  
  .create-product-button:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
  }