<div class="products-container">
  <h1>Market Products</h1>

  <!-- Search Bar -->
  <div class="search-bar mb-4 flex justify-center items-center space-x-2">
    <input
      type="text"
      #searchInput
      placeholder="Search products..."
      class="input input-bordered input-primary w-full max-w-xs"
    />
    <button
      class="btn btn-primary"
      (click)="dataService.applySearch(searchInput.value)"
    >
      Search
    </button>
  </div>

  <!-- Filter Buttons -->
  <div class="search-and-filter">
    <div class="flex justify-center space-x-4 my-4">
      <button class="btn" (click)="dataService.setFilter('hot')">
        Hot Products
      </button>
      <button class="btn" (click)="dataService.setFilter('upcoming')">
        Upcoming Releases
      </button>
    </div>
  </div>

  <div class="products-and-message-container">
    <!-- Product List -->
    <cdk-virtual-scroll-viewport
      itemSize="150"
      class="product-list"
      *ngIf="dataService.filteredProducts.length > 0"
    >
      <div
        *cdkVirtualFor="let product of dataService.filteredProducts"
        class="product-card"
      >
        <img
          [src]="product.image"
          alt="{{ product.title }}"
          class="product-image"
        />

        <div class="product-details">
          <div class="title-and-date">
            <h3 class="product-title">{{ product.title }}</h3>
            <p class="release-date">{{ product.releaseDate | date }}</p>
          </div>
          <p class="product-code">Code: {{ product.code }}</p>
          <p>Variants: {{ product.numberOfVariants }}</p>
          <p class="product-sales">Sales: {{ product.sales }}</p>
          <p>
            Stock: {{ product.stock.itemsInStock }} items,
            {{ product.stock.variantsInStock }} variants
          </p>
        </div>

        <button class="edit-icon" (click)="openEditForm(product)">
          <!-- Replace with an actual icon or image -->
          <img
            src="/assets/edit.png"
            alt="Edit"
            style="height: 10px; width: 10px"
          />
        </button>
      </div>
    </cdk-virtual-scroll-viewport>

    <!-- Not Found Message -->
    <div
      *ngIf="dataService.filteredProducts.length === 0"
      class="not-found-container h-full flex flex-col justify-center items-center bg-gray-100 py-10"
    >
      <div class="text-center">
        <h2 class="text-2xl font-semibold text-gray-800 mb-3">
          No Catalog Found
        </h2>
        <p class="text-lg text-gray-600">
          We are updating the inventory. Check back soon!
        </p>
      </div>
    </div>
  </div>

  <!-- In your component.html file -->
  <div
    *ngIf="dataService.showEditForm"
    class="modal-overlay fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center"
    (click)="closeEditForm($event)"
  >
    <div class="modal-content bg-white p-6 rounded-lg shadow-lg">
      <form
        [formGroup]="dataService.editProductForm"
        (ngSubmit)="submitEditForm()"
        class="space-y-4"
      >
        <!-- Each form group is a flex container with centered content -->
        <div class="form-group flex flex-col items-center">
          <label for="image" class="font-medium text-gray-700 mb-2"
            >Image URL:</label
          >
          <input
            type="text"
            formControlName="image"
            id="image"
            class="input input-bordered w-full max-w-xs text-center"
          />
        </div>

        <div class="form-group flex flex-col items-center">
          <label for="title" class="font-medium text-gray-700 mb-2"
            >Title:</label
          >
          <input
            type="text"
            formControlName="title"
            id="title"
            class="input input-bordered w-full max-w-xs text-center"
          />
        </div>

        <div class="form-group flex flex-col items-center">
          <label for="releaseDate" class="font-medium text-gray-700 mb-2"
            >Release Date:</label
          >
          <input
            type="date"
            formControlName="releaseDate"
            id="releaseDate"
            class="input input-bordered w-full max-w-xs text-center"
          />
        </div>

        <div class="form-group flex flex-col items-center">
          <label for="code" class="font-medium text-gray-700 mb-2"
            >Product Code:</label
          >
          <input
            type="text"
            formControlName="code"
            id="code"
            readonly
            class="input input-bordered w-full max-w-xs text-center"
          />
        </div>

        <div class="form-group flex flex-col items-center">
          <label for="numberOfVariants" class="font-medium text-gray-700 mb-2"
            >Number of Variants:</label
          >
          <input
            type="number"
            formControlName="numberOfVariants"
            id="numberOfVariants"
            class="input input-bordered w-full max-w-xs text-center"
          />
        </div>

        <div class="form-group flex flex-col items-center">
          <label for="sales" class="font-medium text-gray-700 mb-2"
            >Sales:</label
          >
          <input
            type="number"
            formControlName="sales"
            id="sales"
            class="input input-bordered w-full max-w-xs text-center"
          />
        </div>

        <!-- Stock Group -->
        <div formGroupName="stock" class="space-y-4">
          <div class="form-group flex flex-col items-center">
            <label for="itemsInStock" class="font-medium text-gray-700 mb-2"
              >Items in Stock:</label
            >
            <input
              type="number"
              formControlName="itemsInStock"
              id="itemsInStock"
              class="input input-bordered w-full max-w-xs text-center"
            />
          </div>

          <div class="form-group flex flex-col items-center">
            <label for="variantsInStock" class="font-medium text-gray-700 mb-2"
              >Variants in Stock:</label
            >
            <input
              type="number"
              formControlName="variantsInStock"
              id="variantsInStock"
              class="input input-bordered w-full max-w-xs text-center"
            />
          </div>
        </div>

        <!-- Submit Button centered -->
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="create-product-button-container flex justify-center items-center my-4 w-full">
  <button class="create-product-button" (click)="openCreateProductModal()">Create Product</button>
</div>